html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(
        #171738,#2e1760
    );
}
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background: linear-gradient(
    #006992,#2e1760
);
    box-sizing: border-box;
    box-shadow: 0 15px 25px  rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.neon-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    color: #fff;
    background-color: #1b0b0b;
    box-shadow: 0 0 15px #f00;
    position: relative;
    overflow: hidden;
  }

  .neon-button:before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: #03e9f4;
    transform: rotate(45deg);
    animation: neon 1.5s ease-in-out infinite;
  }

  @keyframes neon {
    0% {
      transform: rotate(45deg) translate(-50%, -50%);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(45deg) translate(50%, 50%);
      opacity: 0;
    }
  }

  .neon-button:hover {
    animation: none;
    background-color: #03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4,
                0 0 10px #03e9f4,
                0 0 15px #03e9f4,
                0 0 20px #03e9f4;
  }




